<nav>
  <a href="/players">Players Page</a>
</nav>
<h1>Teams</h1>

<p>sorted by created time [desc]:</p>
<table>
  <% @teams.each do | team | %>
    <tr>
      <td>
        <a href="/teams/<%= team.id %>"><%= team.name %></a>
      </td>
      <td>
        <%= team.created_at.strftime("%m/%d/%Y @%H:%M:%S:%L") %>
      </td>
      <td>
        <button type="button">
          <a href="/teams/<%= team.id %>/edit" id="tm<%= team.id %>">Edit Team</a>
        </button>
      </td>
      <td>
        <%= button_to 'Delete Team', teams_path(team), method: :delete, form_class: "delete_#{team.id}" %>
      </td>
    </tr>
  <% end %>
</table>

<button type="button"><a href="/teams/new">New Team</a></button>