<head>
  <style>
    th, td { padding: 12px }
  </style>
</head>
<nav>
  <a href="/teams">Teams Page</a>
</nav>
<h1>Players</h1>

<%= form_with url: players_path, method: :get, local: true do |form| %>
  <%= form.label :q, "Search MLB Team:" %>
  <%= form.text_field :q %>
  <%= form.submit "Search" %>
<% end %>

<table style="text-align: justify" id="players">
  <tr>
    <th>Player</th>
    <th>Team</th>
    <th>POS</th>
    <th>xwOBA</th>
    <th>wFIP</th>
    <th>Injured</th>
  </tr>
  <% @players.each do | player | %>
    <tr>
      <td><a href="/players/<%= player.id %>"><%= player.name %></a></td>
      <td><%= player.mlb_team %></td>
      <td><%= player.pos %></td>
      <% if player.xwoba %>
        <td><%= player.xwoba %></td>
        <td style="background-color: rgba(37,34,34,0.7)"><%= player.xfip %></td>
      <% else %>
        <td style="background-color: rgba(37,34,34,0.7)"><%= player.xwoba %></td>
        <td><%= player.xfip %></td>
      <% end %>
      <td><%= player.injured_str %></td>
      <td>
        <button type="button">
          <a href="/players/<%= player.id %>/edit" id="plyr<%= player.id %>">
            Edit Player
          </a>
        </button>
      </td>
      <td>
        <%= button_to "Delete Player", players_path(player), method: :delete, form_class: "delete_#{player.id}" %>
      </td>
    </tr>
  <% end %>
</table>
